<%= render "devise/shared/error_messages", resource: resource %>
<div class=container>
  <div class="registration-form">
    <div class="container">
      <div class="row center sign-up-form">
        <div class="col s12 l12">
          <div class="card-panel">
            <h3 class="header"><%=t('devise.edit') %> <%= resource_name.to_s.humanize %></h3
              <div class="row">


                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                  <div class="row">
                    <div class="input-field col s12">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      <%= f.label :email %>
                    </div>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="row">
                    <div class="input-field col s12">
                      <%= f.password_field :password, placeholder: t('devise.placeholder.leave_blank_password'), autocomplete: "new-password" %>
                      <% if @minimum_password_length %>
                        <br />
                        <em><%= @minimum_password_length %> <%= t('devise.placeholder.minimum_charachers') %></em>
                      <% end %>
                      <%= f.label :password %> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                    <%= f.password_field :password_confirmation, placeholder: t('devise.placeholder.confirm_password'), autocomplete: "new-password" %>
                    <%= f.label :password_confirmation %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                    <%= f.password_field :current_password, placeholder: t('devise.placeholder.repeat_your_password'), autocomplete: "current-password" %>
                    <%= f.label :current_password %> 
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <div class="actions">
                        <%= f.button t('devise.button.update_profile'), class: "waves-effect waves-light btn-small" %>
                      </div>
                    </div>
                  </div>
                  
                <% end %>

                <div class="waves-effect waves-light btn-small">
                  <%= link_to t('devise.button.back'), root_path %>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>


