<div class="container delivery">
    <div class="container"> 
        <div class="fl-rich-text">
            <p>&nbsp;</p>
            <h2><%= t('delivery.delivery_order') %></h2>
            <h3><%= t('delivery.general_information') %></h3>
            <ul>
                <li><%= t('delivery.general_information_text_1') %></li>
                <li><%= t('delivery.general_information_text_2') %></li>
                <li><%= t('delivery.general_information_text_3') %></li>
                <li><%= t('delivery.general_information_text_4') %></li>
                <li><%= t('delivery.general_information_text_5') %></li>
            </ul>
            <h3><%= t('delivery.return_of_goods') %></h3>
            <ul>
                <li><%= t('delivery.return_of_goods_text_1') %></li>
                <li><%= t('delivery.return_of_goods_text_2') %></li>
                <li><%= t('delivery.return_of_goods_text_3') %></li>
            </ul>
            <p>
                <%= link_to t('delivery.return_of_goods_text_4'), 'http://zakon2.rada.gov.ua/laws/show/1023-12', target: '_blank' %>
            </p>
            <p>
                <%= link_to t('delivery.return_of_goods_text_5'), 'http://zakon2.rada.gov.ua/laws/show/172-94-%D0%BF', target: '_blank' %>
            </p>
            <h3><%= t('delivery.price_of_goods') %></h3>
            <ul>
                <li><%= t('delivery.price_of_goods_text_1') %></li>
                <li><%= t('delivery.price_of_goods_text_2') %></li>
                <li><%= t('delivery.price_of_goods_text_3') %></li>
                <li><%= t('delivery.price_of_goods_text_4') %></li>
            </ul>
            <h2><%= t('delivery.courier_delivery') %></h2>
            <h3><%= t('delivery.general_information') %></h3>
            <ul>
                <li><%= t('delivery.courier_delivery_text_1') %></li>
                <li><%= t('delivery.courier_delivery_text_2') %></li>
                <li><%= t('delivery.courier_delivery_text_3') %></li>
                <li><%= t('delivery.courier_delivery_text_4') %></li>
                <li><%= t('delivery.courier_delivery_text_5') %></li>
            </ul>
            <h3><%= t('delivery.shipping_cost') %></h3>
            <ul>
                <li><%= t('delivery.shipping_cost_text_1') %></li>
                <li><%= t('delivery.shipping_cost_text_2') %></li>
                <li><%= t('delivery.shipping_cost_text_3') %></li>
            </ul>
            <h3><%= t('delivery.order_cancellation') %></h3>
            <ul>
                <li><%= t('delivery.order_cancellation_text_1') %></li>
                <li><%= t('delivery.order_cancellation_text_2') %></li>
                <li><%= t('delivery.order_cancellation_text_3') %></li>
                <li><%= t('delivery.order_cancellation_text_4') %></li>
            </ul>
            <p>
            <h3><%= t('delivery.payment') %></h3>
            </p>
            <ul>
                <li><%= t('delivery.payment_text_1') %></li>
                <li><%= t('delivery.payment_text_2') %></li>
                <li><%= t('delivery.payment_text_3') %></li>
                <li><%= t('delivery.payment_text_4') %></li>
                <li><%= t('delivery.payment_text_5') %></li>
            </ul>
            <h3><%= t('delivery.collection') %></h3>
            <ul>
                <li><%= t('delivery.collection_text_1') %></li>
                <li><%= t('delivery.collection_text_2') %></li>
                <li><%= t('delivery.collection_text_3') %></li>
            </ul>
            <p><br></p>
        </div>
    </div>
</div>
