<div class="container offer">
    <div class="container">       
        <div class="entry-content clear" itemprop="text">
            <h2 class="wp-block-heading"><%= t('offer.public_offer') %></h2>
            <p>
               <%= t('offer.public_offer_text') %> 
            </p>
            <h3 class="wp-block-heading" ><%= t('offer.definition_of_terms') %></h3>
            <ul>
                <li><%= t('offer.definition_of_terms_list.li_1_1') %></li>
                <li><%= t('offer.definition_of_terms_list.li_1_2') %></li>
            </ul>
            <h3 class="wp-block-heading" ><%= t('offer.general_provisions') %></h3>
            <ul>
                <li><%= t('offer.general_provisions_list.li_2_1') %></li>
                <li><%= t('offer.general_provisions_list.li_2_2') %></li>
                <li><%= t('offer.general_provisions_list.li_2_3') %></li>
                <li><%= t('offer.general_provisions_list.li_2_4') %></li>
            </ul>
            <h3 class="wp-block-heading" ><%= t('offer.price_of_goods') %></h3>
            <ul>
                <li><%= t('offer.price_of_goods_list.li_3_1') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_2') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_3') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_4') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_5') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_6') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_7') %></li>
                <li><%= t('offer.price_of_goods_list.li_3_8') %></li>
            </ul>
            <h3 class="wp-block-heading" ><%= t('offer.processing_order') %></h3>
            <ul>
                <li><%= t('offer.processing_order_list.li_4_1') %></li>
                <li><%= t('offer.processing_order_list.li_4_2') %></li>
                <li><%= t('offer.processing_order_list.li_4_2_1') %></li>
                <li><%= t('offer.processing_order_list.li_4_2_2') %></li>
                <li><%= t('offer.processing_order_list.li_4_2_3') %></li>
                <li><%= t('offer.processing_order_list.li_4_2_4') %></li>
                <li><%= t('offer.processing_order_list.li_4_3') %></li>
                <li><%= t('offer.processing_order_list.li_4_4') %></li>
                <li><%= t('offer.processing_order_list.li_4_5') %></li>
                <li><%= t('offer.processing_order_list.li_4_6') %></li>
                <li><%= t('offer.processing_order_list.li_4_7') %></li>
                <li><%= t('offer.processing_order_list.li_4_8') %></li>
                <li><%= t('offer.processing_order_list.li_4_9') %></li>
            </ul>
            <h3 class="wp-block-heading" ><%= t('offer.hanvover_of_goods') %></h3>
            <ul>
                <li><%= t('offer.hanvover_of_goods_list.li_5_1') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_2') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_3') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_4') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_5') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_6') %></li>
                <li><%= t('offer.hanvover_of_goods_list.li_5_7') %></li>
            </ul>
            <p> <br> </p>
        </div>
    </div>
</div>