<div class="container policy">
    <div class="container">
        <div class="entry-content clear" itemprop="text">
            <div class="fl-builder-content fl-builder-content-3 fl-builder-content-primary" data-post-id="3">
                <div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-biqtkf94unwl fl-row-default-height fl-row-align-center" data-node="biqtkf94unwl">
                    <div class="fl-row-content-wrap">
                        <div class="fl-row-content fl-row-fixed-width fl-node-content">
                            <div class="fl-col-group fl-node-0fuoj8yc253z" data-node="0fuoj8yc253z">
                                <div class="fl-col fl-node-j1yv7k9qlsht" data-node="j1yv7k9qlsht">
                                    <div class="fl-col-content fl-node-content">
                                        <div class="fl-module fl-module-rich-text fl-node-tdcsip5vxe20" data-node="tdcsip5vxe20">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-rich-text">
                                                    <h2><%= t('policy.privacy_policy') %></h2>
                                                    <h6><%= t('policy.last_update') %></h6>
                                                    <p>
                                                        <%= t('policy.privacy_policy_text_1') %> 
                                                    </p>
                                                    <p>
                                                        <%= t('policy.privacy_policy_text_2') %>
                                                        <%= link_to t('policy.privacy_policy_text_3'), 'https://gdpr-info.eu/', target: '_blank' %>
                                                    </a>
                                                    </p>
                                                    <h2><%= t('policy.personal_data_collect') %></h2>
                                                    <h3><%= t('policy.comments') %></h3>
                                                    <p><%= t('policy.comments_text_1') %></p>
                                                    <p> <%= t('policy.comments_text_2') %></p>
                                                    <h3><%= t('policy.media_files') %></h3>
                                                    <p>
                                                        <%= t('policy.media_files_text_1') %>
                                                    </p>
                                                    <h3><%= t('policy.contact_forms') %></h3>
                                                    <h4><%= t('policy.cookies') %></h4>
                                                    <p>
                                                        <%= t('policy.cookies_text_1') %>
                                                    </p>
                                                    <h3><%= t('policy.embedded_content') %></h3>
                                                    <p>
                                                        <%= t('policy.embedded_content_text_1') %><br/>
                                                    <h3><%= t('policy.user_content') %></h3>
                                                    <p>
                                                        <%= t('policy.user_content_text_1') %><br/>
                                                        <%= t('policy.user_content_text_2') %><br/>
                                                        <%= t('policy.user_content_text_3') %><br/>
                                                    </p>
                                                    <h3><%= t('policy.personal_information_use') %></h3>
                                                    <p>
                                                        <%= t('policy.personal_information_use_text_1') %><br/>
                                                        <%= t('policy.personal_information_use_text_2') %><br/>
                                                        <%= t('policy.personal_information_use_text_3') %><br/>
                                                        <%= t('policy.personal_information_use_text_4') %><br/>
                                                        <%= t('policy.personal_information_use_text_5') %><br/>
                                                        <%= t('policy.personal_information_use_text_6') %><br/>
                                                        <%= t('policy.personal_information_use_text_7') %><br/>
                                                        <%= t('policy.personal_information_use_text_8') %><br/>
                                                        <%= t('policy.personal_information_use_text_9') %><br/>
                                                        <%= t('policy.personal_information_use_text_10') %><br/>
                                                       
                                                    </p>
                                                    <h3><%= t('policy.keep_your_data') %></h3>
                                                    <p>
                                                       <%= t('policy.keep_your_data_text_1') %>
                                                    </p>
                                                    <h3><%= t('policy.data_right') %></h3>
                                                    <p><%= t('policy.data_right_text_1') %></p>
                                                    <h3><%= t('policy.send_your_data') %></h3>
                                                    <p><%= t('policy.send_your_data_text_1') %></p>
                                                    <h3><%= t('policy.contact_information') %></h3>
                                                    <p>
                                                        <%= t('policy.contact_information_text_1') %><br/>
                                                        <%= t('policy.contact_information_text_2') %><br/>
                                                        <%= t('policy.contact_information_text_3') %><br/>
                                                    </p>
                                                    <h3><%= t('policy.additional_information') %></h3>
                                                    <p>
                                                        <%= t('policy.additional_information_text_1') %><br/>
                                                        <%= t('policy.additional_information_text_2') %><br/>
                                                        <%= t('policy.additional_information_text_3') %><br/>
                                                        <%= t('policy.additional_information_text_4') %><br/>
                                                        <%= t('policy.additional_information_text_5') %><br/>
                                                        <%= t('policy.additional_information_text_6') %><br/>
                                                    </p>
                                                    <h3><%= t('policy.protect_your_data') %></h3>
                                                    <p>
                                                        <%= t('policy.protect_your_data_text_1') %><br/>
                                                        <%= t('policy.protect_your_data_text_2') %><br/>
                                                        <%= t('policy.protect_your_data_text_3') %><br/>
                                                        <%= t('policy.protect_your_data_text_4') %><br/>
                                                    </p>
                                                    <h3><%= t('policy.update_personal_information') %></h3>
                                                    <p><%= t('policy.update_personal_information_text_1') %></p>
                                                    <h3><%= t('policy.third_party_sites') %></h3>
                                                    <p>
                                                        <%= t('policy.third_party_sites_text_1') %><br/>
                                                        <%= t('policy.third_party_sites_text_2') %><br>
                                                        <br>
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
