<br>
<div class="container policy">
    <div class="container">
        <br>
        <h2><%= t('vacancy.vacancy_name') %></h2>
        <h4><%= t('vacancy.name') %></h4>
        <br>
        <h4><%= t('vacancy.description') %></h4>
        <p><%= t('vacancy.requirements') %><p>
        <br>
        <h4><%= t('vacancy.conditions') %></h4>
        <p><%= t('vacancy.condition.condition_1') %><p>
        <p><%= t('vacancy.condition.condition_2') %><p>
        <p><%= t('vacancy.condition.condition_3') %><p>
        <br>
        <p><%= t('vacancy.details') %></p>
        <p><%= t('vacancy.contact') %></p>
        <br>
    </div>
</div>