<div class="container">
    <div class="menu">
        <h2 class="menu-header"> <%= t('menu.menu_page') %> </h2>

        <div class="row">
            <% @dishes.each do |dish| %>
                <div class="col s4">
                    <div class="card small sticky-action">
                        <div class="card-image waves-effect waves-block waves-light">
                            <%- if dish.dish_image.present? %>
                                <img class="activator"  <%= image_tag dish.dish_image %> 
                            <% else %>
                                <img class="activator"  <%= image_tag('fishbone-svgrepo-com.svg')%> >
                            <% end %>                        
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= dish.short_name %><i class="material-icons right">more_vert</i></span>
                            <p><a> <%= t('menu.price') %>: <%= dish.price %> USD</a><a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons right">add</i></a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= t('menu.description') %>:<i class="material-icons right">close</i></span>
                            <p><%= dish.description %></p>
                            <%= link_to t('menu.details'), dish %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>