<div class="container">
    <div class="menu">
        <h2 class="menu-header"> <%= @dish.short_name %> </h2>

        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card z-depth-4"">
                    <div class="card-image">
                        <%= image_tag @dish.dish_image %> 
                        <span class="card-title"><%= @dish.short_name %></span>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s9">
                                <p><%= t('menu.description') %>: <%= @dish.description %></p>
                            </div>
                            <div class="col s3">
                                <p><%= t('menu.price') %>: <%= @dish.price %> USD</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action rigth">
                        <a href="#"><%= t('menu.bucket') %> <i class="small material-icons right">add</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="center">
                    <div class="input-field">
                        <div class="actions">
                            <%= link_to t('menu.button.back_to_menu') , dishes_path, class: "waves-effect waves-light btn-small" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</div>

