<header>
    <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Pasta</a></li>
    <li><a href="#!">Pizza</a></li>
    <li><a href="#!">Main Dish</a></li>
    <li><a href="#!">Grill</a></li>
    <li><a href="#!">Fish & Seafood</a></li>
    <li><a href="#!">Dessert</a></li>
    <li><a href="#!">Drinks</a></li>
    <li class="divider"></li>
    <li><%= link_to "All Menu", menu_path %></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Pasta</a></li>
    <li><a href="#!">Pizza</a></li>
    <li><a href="#!">Main Dish</a></li>
    <li><a href="#!">Grill</a></li>
    <li><a href="#!">Fish & Seafood</a></li>
    <li><a href="#!">Dessert</a></li>
    <li><a href="#!">Drinks</a></li>
    <li class="divider"></li>
    <li><%= link_to "All Menu", menu_path %></li>
    </ul>
    <nav>
    <div class="container">
        <div class="nav-wrapper">
            <%= link_to "SunnyCafe",root_path, class: "brand-logo" %>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Gallery", gallery_path %></li>
                <li><%= link_to "Contact", contact_path  %></li>
                <li><%= link_to "Cart", cart_path  %></li>
                <%- if user_signed_in? %>
                    <li><%= link_to "My profile", edit_user_registration_path %></li>
                <% end %>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

            <ul class="sidenav" id="mobile-demo">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Gallery", gallery_path %></li>
                <li><%= link_to "Contact", contact_path  %></li>
                <li><%= link_to "Cart", cart_path  %></li>
                <%- if user_signed_in? %>
                    <li><%= link_to "My profile", edit_user_registration_path %></li>
                <% end %>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>

    </div>

    <%- if user_signed_in? %>
        <div class="authorize-button">
            <div class="waves-effect waves-light btn-small">
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
            </div>
        </div>
    <% else %>
        <div class="authorize-button">
            <div class="waves-effect waves-light btn-small">
                <%= link_to "Sign up", new_user_registration_path %>
            </div>
            <div class="waves-effect waves-light btn-small">
                <%= link_to "Login", new_user_session_path %>
            </div>
        </div>
    <% end %>
    </nav>
</header>
