<!DOCTYPE html>
<html>
  <head>
    <title>Easycafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'home',    root_path %> <br/>
    <%= link_to 'about',   about_path %> <br/>
    <%= link_to 'gallery', gallery_path %> <br/>
    <%= link_to 'contact', contact_path %> <br/>
    <%= link_to 'vacancy', vacancy_path %> <br/>
    <%= link_to 'cart',    cart_path %> <br/>
    <%= link_to 'menu',    menu_path %> <br/>
    <%= link_to 'account', account_path %> <br/>
    <%= yield %>
  </body>
</html>
